{% extends 'base.html' %}
{% block title %}Assignment4{% endblock %}



{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('assignment4.static', filename='css/assignment4.css') }}"/>
{% endblock %}

{% block tohen %}



    <header id="HeaderH" class="header">
        <h1>Assignment4</h1>
    </header><br><br>
    <div>
        {% if session['INSERTED'] %}
            <h1>{{ session['insert_message'] | title() }}</h1>
        {% elif session['DELETED'] %}
            <h1>{{ session['delete_message'] | title() }}</h1>
        {% elif session['UPDATE'] %}
            <h1>{{ session['update_message'] | title() }}</h1>
        {% endif %}

    </div>


    <div class="assignment4_container">

        {#  insert form #}
        <div class="container">
            <h2>Insert Form</h2>
            <form action="/insert_user" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="password">
                <input type="number" name="phone_number" placeholder="Phone number">
                <input type="submit" value="צור משתמש">
            </form>
        </div>


        {#  update form #}
        <br><br><br>
        <h2 class="header">Update Form</h2>


        <form action="/update_user" method="post">
            <p class="try">Please enter the email of the user you would like to update its details:</p>
            <input type="text" name="email_to_update" placeholder="Email"><br><br>

            <p>Please enter the new details for this user:</p>
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="number" name="phone_number" placeholder="Phone number">

            <input type="submit" id="findUserBtn" value="עדכון פרטים">
        </form>

        {#  delet form #}
        <br><br><br><br>
        <h2 class="header">Deletion Form</h2>

        <form action="/delete_user" method="post">
            <input type="text" name="email" placeholder="Email"><br>
            <input type="submit" id="deleteUserBtn" value="Delete User">
            <br><br>
        </form>
        {#  list users form #}
        <h2 class="header">List Of Users</h2>

        <form action="/select_users">
            <input type="submit" id="allUserBtn" value="Get List Of All Users">
            <br><br><br>
        </form>


        <div class="user_list">
            {% for user in users %}
                <div class="container">
                    <h3>Username: {{ user.name }}</h3>
                    <h4>Email: {{ user.email }}</h4>
                    <h4>phone: {{ user.phone_number }}</h4>
                    <h4>Password: {{ user.password }}</h4><br>
                </div>
            {% endfor %}
        </div>
        <br>

        {% for user in users %}

        {% endfor %}
    </div>
{% endblock %}

