    {% extends 'base.html' %}
{% block title %}Assignment4 - Users{% endblock %}



{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('assignment4.static', filename='css/assignment4.css') }}" />
{% endblock %}

{% block tohen %}



    <header id="HeaderH" class="header">
        <h1>Assignment4 - Users</h1>
    </header><br><br>



    <div class="assignment4_container">


        <form action="/assignment4/users" method="get">
            <p>Click here to get users in JSON format</p>
            <input type="submit" value="Get Users"><br><br><br>
        </form>


    </div>
    {% block javascript %}
        <script src="{{ url_for('assignment4.static', filename='js/assignment4.js') }}"></script>
    {% endblock %}

{% endblock %}

